<!-- Only render if the list exists -->
<div *ngIf="list">
  <h1>{{list.name}}</h1>
  <app-add-form (add)="onTodoAdded($event)"
                label="Add new Todo Item"
                placeholder="What's the next task?"
                buttonText="Add Item"></app-add-form>
  <h2>Items</h2>
  <app-todo-list (todoDeleted)="onTodoDeleted($event)" [todoList]="list"></app-todo-list>
</div>
<!-- Render if the list doesn't exist -->
<div *ngIf="!list">
  <p>This list doesn't appear to exist!</p><br>
  <a href="/">Back to Home</a>
</div>
