<h1>Todo Lists</h1>

<app-add-form (add)="onListCreated($event)"
              label="Create new Todo List"
              placeholder="What kind of things do you need to get done?"
              buttonText="Create List"></app-add-form>
<p *ngIf="todoLists.length === 0">No TodoLists exist.</p>
<mat-list>
  <app-todo-list-item (listDeleted)="onListDeleted($event)" *ngFor="let list of todoLists" [todoList]="list"></app-todo-list-item>
</mat-list>
