.item-body {
  width: 100%;
  display: flex;
}

.delete {
  width: 1.25rem;
  height: 1.25rem;
}

.left {
  margin-left: 10px;
  flex-shrink: 0;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: black;
}

.title {
  font-size: 1.5rem;
}

.subtitle {
  font-style: italic;
  margin-left: 8px;
}
