<mat-list-item>
  <div class="item-body">
    <div class="left">
      <a href="/list/{{todoList.id}}">
        <span class="title">{{todoList.name}}</span>
        <span class="subtitle">{{completedItemCount}}/{{itemCount}} items complete</span>
      </a>
    </div>
    <app-delete-button (click)="onDelete()"></app-delete-button>
  </div>
</mat-list-item>
