main {
  padding: 16px;
}

.container {
  margin: auto;
}

@media(min-width: 640px) {
  .container {
    max-width: 80vw;
  }
}

@media(min-width: 768px) {
  .container {
    max-width: 70vw;
  }
}

@media(min-width: 1024px) {
  .container {
    max-width: 60vw;
  }
}

@media(min-width: 1280px) {
  .container {
    max-width: 50vw;
  }
}
