<form autocomplete="off" [formGroup]="titleForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>{{label}}</mat-label>
    <input matInput placeholder="{{placeholder}}" formControlName="title">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">{{buttonText}}</button>
</form>
